html
    head
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css')
        meta(name='viewport', content='width=device-width, initial-scale=1')



    body
        h1(class="title is-1") #{commandname}
        textarea(class="textarea is-info is-medium" readonly="true" rows="20") #{content}